/* CSS declarations go here */
.center {
  text-align: center;
}
div
{
  overflow-x:hidden;
}
.btn-group {
  padding-bottom:10px;
}
.navbar {
  padding-bottom:10px;
}

.feed-panel{
  width: 90%;
  margin: 0 auto;
  background-color: gray;
}

.goal {
  margin: 20px;
}

.app-container {
  background-color: gray;
}

.believe2 {
  margin: 5px;
}

.play2 {
  margin: 5px;
}
body {
  background-color: gray;
}

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}
